= render "shared/topbar"
.task_edit
  .title タスク変更・閲覧
  = link_to root_path do
    .back_buttun 戻る
  .form
    = form_for(@task) do |f|
      .field
        .field-input
          .text タイトル
          = f.text_field :title, placeholder: "タイトル", maxlength: "15"
      .field
        .field-input
          .text タスク内容
          = f.text_area :body, placeholder: "タスク内容", maxlength: "30"
      .field
        .field-input
          .date 予定日
          = f.date_field :scheduled
      .field
        .field-input
          .text 優先順位
          = f.select :priority, [1,2,3,4,5,6,7,8,9,10,11,12], {include_blank: '優先順位を選択'}
      .field
        .field-input
          .date 完了日
          = f.date_field :finished
      .actions
        = f.submit "変更する", class: 'btn', data: {confirm: "このタスクを変更しますか?"}
