= render "shared/topbar"
.unfinished_tasklist
  .tasklist_bar
    .tasklist_navi
      .tasklist_title 未完了タスク一覧
      .task_registration
        = link_to new_task_path do
          = fa_icon "plus"
          .text 登録
      .switch_on
        = fa_icon "toggle-on"
        .text 完了
  .column_bar
    .title タイトル
    .scheduled 予定日
    .finished 完了日
    .priority 優先順位
    .delete 削除
  -if @unfinished_tasks.count.to_i == 0
    .message_bar
      .message 未完了タスクがありません
  -else
    = render partial: 'shared/task', collection: @unfinished_tasks

.finished_tasklist
  .tasklist_bar
    .tasklist_navi
      .tasklist_title 完了タスク一覧
      .task_registration
        = link_to new_task_path do
          = fa_icon "plus"
          .text 登録
      .switch_off
        = fa_icon "toggle-off"
        .text 未完了
  .column_bar
    .title タイトル
    .scheduled 予定日
    .finished 完了日
    .priority 優先順位
    .delete 削除
  -if @finished_tasks.count.to_i == 0
    .message_bar
      .message 完了タスクがありません
  -else
    = render partial: 'shared/task', collection: @finished_tasks
